

<section id="main-content" class="blog main-container" role="main">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-4 sidebar-right">

                <div class="category-main-desc">
                    <span> </span>
                </div>

                <div class="main-content-inner category-layout7">

     @*                <div class="row">
                        <article id="post-333"
                                 class="post-layout col-md-12 feature-big post-333 post type-post status-publish format-standard has-post-thumbnail hentry category-technology">
                            <div class="post-block-style text-center">
                                <div class="grid-cat">
                                    <a class="post-cat" href="index.html" style=" background-color:;color:#ffffff ">
                                        <span class="before"
                                              style="background-color:;color:#ffffff "></span>Technology<span class="after" style="background-color:;color:#ffffff"></span>
                                    </a>
                                </div>
                                <div class="post-title">
                                    <div class="entry-blog-header">
                                        <h3 class="post-title md">
                                            <a href="../../2020/04/14/connecting-people-with-technology/index.html">
                                                Connecting
                                                people with Technology
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="post-meta">
                                        <div class="post-meta">
                                            <span class="post-author">
                                                <i class="ts-icon ts-icon-user-solid"></i> <a href="../../author/digiQoles/index.html">digiQoles</a>
                                            </span><span class="post-meta-date">
                                                <i class="ts-icon ts-icon-clock-regular"></i>
                                                April 14, 2020
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="post-content">
                                    <div class="post-thumb">
                                        <a href="../../2020/04/14/connecting-people-with-technology/index.html">
                                            <img class="img-fluid"
                                                 src="../../wp-content/uploads/sites/4/2020/04/image1.jpg"
                                                 alt=" Connecting people with Technology">
                                        </a>
                                    </div>
                                    <div class="entry-blog-summery">
                                        <p>
                                            The same systems we built to handle peaks like the Cyber Monday online
                                            shopping surge, or to stream the World Cup finals, support increased
                                            traffic as people turn to Google to find news, connect with <a class="readmore-btn"
                                                                                                           href="../../2020/04/14/connecting-people-with-technology/index.html">
                                                Read
                                                More<i class="ts-icon ts-icon-arrow-right"> </i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>




                        </article>
                    </div> *@
                    <div class="row" id="productContainer">

                       
                        
                    </div>
                </div>
            </div><!-- .col-md-8 -->



            <div class="col-lg-4 col-md-12">
                <div id="sidebar" class="sidebar" role="complementary">
                    <div id="pu_media_upload-2" class="widget pu_media_upload">
                        <div class="widgets author-box-widget ts-grid-box">
                            <div class="ts-post-thumb">
                                <a href="../../author/index.html">
                                    <img class="img-fluid" src="../../wp-content/uploads/sites/4/2020/04/author.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title md">
                                    <a href="../../author/index.html">John Leo</a>
                                </h3>
                                <p>
                                    Traveler &amp; Blogger

                                    The same systems we built to handle peaks like the Cyber Monday online.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="xs-social-2" class="widget digiqole-widget">
                        <h3 class="widget-title"> <span class="title-angle-shap">Social</span></h3>
                        <ul class="footer-social xs-social-list xs-social-list-v6 digiqole-social-list">

                            <li><a href="#" target="_blank"><i class="ts-icon ts-icon-facebook"></i></a></li>

                            <li><a href="#" target="_blank"><i class="ts-icon ts-icon-twitter"></i></a></li>



                            <li><a href="#" target="_blank"><i class="ts-icon ts-icon-instagram"></i></a></li>

                            <li><a href="#" target="_blank"><i class="ts-icon ts-icon-linkedin"></i></a></li>

                            <li><a href="#" target="_blank"><i class="ts-icon ts-icon-vimeo-v"></i></a></li>


                        </ul><!-- Footer social end -->

                    </div>
                    <div id="digiqole_latest_news_widget-2" class="widget digiqole_latest_news_widget">
                        <h3 class="widget-title"> <span class="title-angle-shap">Recent Post</span></h3>
                        <div class="recent-posts-widget post-list-item">
                            <div class="post-tab-list">
                                <div class="post-content media">
                                    <div class="post-thumb">
                                        <a href="../../2020/04/14/connecting-people-with-technology/index.html"
                                           rel="bookmark" title="Connecting people with Technology">
                                            <span class="digiqole-sm-bg-img"
                                                  style="background-image: url(../../wp-content/uploads/sites/4/2020/04/image1-600x398.jpg);"></span>

                                        </a>
                                    </div>
                                    <div class="post-info media-body">
                                        <a class="post-cat only-color" href="index.html" style="color:">
                                            Technology
                                        </a>
                                        <h3 class="post-title">
                                            <a href="../../2020/04/14/connecting-people-with-technology/index.html"
                                               rel="bookmark" title="Connecting people with Technology">
                                                Connecting
                                                people with Technology
                                            </a>
                                        </h3>
                                        <span class="post-date">
                                            <i class="ts-icon ts-icon-clock-regular"
                                               aria-hidden="true"></i> April 14, 2020
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="post-content media">
                                    <div class="post-thumb">
                                        <a href="../../2020/04/12/everything-announced-at-google-summit/index.html"
                                           rel="bookmark" title="Everything Announced at Google Summit">
                                            <span class="digiqole-sm-bg-img"
                                                  style="background-image: url(../../wp-content/uploads/sites/4/2020/04/image7-600x398.jpg);"></span>

                                        </a>
                                    </div>
                                    <div class="post-info media-body">
                                        <a class="post-cat only-color" href="index.html" style="color:">
                                            Technology
                                        </a>
                                        <h3 class="post-title">
                                            <a href="../../2020/04/12/everything-announced-at-google-summit/index.html"
                                               rel="bookmark"
                                               title="Everything Announced at Google Summit">
                                                Everything Announced
                                                at Google Summit
                                            </a>
                                        </h3>
                                        <span class="post-date">
                                            <i class="ts-icon ts-icon-clock-regular"
                                               aria-hidden="true"></i> April 12, 2020
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="post-content media">
                                    <div class="post-thumb">
                                        <a href="../../2020/04/12/porsche-taylor-put-all-women-in-the-seat/index.html"
                                           rel="bookmark" title="Porsche Taylor Put All Women in the Seat">
                                            <span class="digiqole-sm-bg-img"
                                                  style="background-image: url(../../wp-content/uploads/sites/4/2020/04/image5-600x398.jpg);"></span>

                                        </a>
                                    </div>
                                    <div class="post-info media-body">
                                        <a class="post-cat only-color" href="../travel/index.html" style="color:">
                                            Travel
                                        </a>
                                        <h3 class="post-title">
                                            <a href="../../2020/04/12/porsche-taylor-put-all-women-in-the-seat/index.html"
                                               rel="bookmark"
                                               title="Porsche Taylor Put All Women in the Seat">
                                                Porsche Taylor Put
                                                All Women in the Seat
                                            </a>
                                        </h3>
                                        <span class="post-date">
                                            <i class="ts-icon ts-icon-clock-regular"
                                               aria-hidden="true"></i> April 12, 2020
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="post-content media">
                                    <div class="post-thumb">
                                        <a href="../../2020/04/08/protecting-you-from-phishing-limit/index.html"
                                           rel="bookmark" title="Protecting you from Phishing Limit">
                                            <span class="digiqole-sm-bg-img"
                                                  style="background-image: url(../../wp-content/uploads/sites/4/2020/04/image2-600x398.jpg);"></span>

                                        </a>
                                    </div>
                                    <div class="post-info media-body">
                                        <a class="post-cat only-color" href="../fashion/index.html" style="color:">
                                            Fashion
                                        </a>
                                        <h3 class="post-title">
                                            <a href="../../2020/04/08/protecting-you-from-phishing-limit/index.html"
                                               rel="bookmark" title="Protecting you from Phishing Limit">
                                                Protecting
                                                you from Phishing Limit
                                            </a>
                                        </h3>
                                        <span class="post-date">
                                            <i class="ts-icon ts-icon-clock-regular"
                                               aria-hidden="true"></i> April 8, 2020
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="text-2" class="widget widget_text">
                        <h3 class="widget-title">
                            <span class="title-angle-shap">Subscribe to my Newsletter</span>
                        </h3>
                        <div class="textwidget">
                            <p>
                                Be the first to receive the latest<br />
                                buzz, contests &amp; more!
                            </p>
                        </div>
                    </div>
                    <div id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget">
                        <script>
                            (function () {
                                window.mc4wp = window.mc4wp || {
                                    listeners: [],
                                    forms: {
                                        on: function (evt, cb) {
                                            window.mc4wp.listeners.push(
                                                {
                                                    event: evt,
                                                    callback: cb
                                                }
                                            );
                                        }
                                    }
                                }
                            })();
                        </script><!-- Mailchimp for WordPress v4.9.4 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-80" method="post" data-id="80"
                              data-name="Subscription">
                            <div class="mc4wp-form-fields">
                                <p class="personal-blog-cta">
                                    <label>
                                        <input type="email" name="EMAIL" placeholder="Your email" required />
                                    </label>

                                    <input type="submit" value="Subscribe" />
                                </p>
                            </div><label style="display: none !important;">
                                Leave this field empty if you're human:
                                <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                       autocomplete="off" />
                            </label><input type="hidden" name="_mc4wp_timestamp"
                                           value="1689090613" /><input type="hidden" name="_mc4wp_form_id" value="80" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                            <div class="mc4wp-response"></div>
                        </form><!-- / Mailchimp for WordPress Plugin -->
                    </div>
                    <div id="digiqole-category-list-2" class="widget digiqole-category-list">
                        <div class="widgets_category ts-category-list-item">
                            <ul class="ts-category-list">
                                <li>
                                    <a style="background-image:url(../../wp-content/uploads/sites/4/2020/04/image4.jpg)"
                                       href="../fashion/index.html">
                                        <span>Fashion</span><span class="bar"></span>
                                        <span class="category-count">1</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="background-image:url(../../wp-content/uploads/sites/4/2020/04/image1.jpg)"
                                       href="../lifestyle/index.html">
                                        <span>Lifestyle</span><span class="bar"></span> <span class="category-count">1</span>
                                    </a>
                                </li>
                                <li class="active-cat">
                                    <a style="background-image:url(../../wp-content/uploads/sites/4/2020/04/image2.jpg)"
                                       href="index.html">
                                        <span>Technology</span><span class="bar"></span> <span class="category-count">3</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="background-image:url(../../wp-content/uploads/sites/4/2020/04/image6.jpg)"
                                       href="../travel/index.html">
                                        <span>Travel</span><span class="bar"></span>
                                        <span class="category-count">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="media_image-2" class="widget widget_media_image">
                        <a href="#">
                            <img width="330"
                                 height="460" src="../../wp-content/uploads/sites/4/2020/07/banner.png"
                                 class="image wp-image-786  attachment-full size-full" alt="" decoding="async"
                                 loading="lazy" style="max-width: 100%; height: auto;"
                                 srcset="https://demo.themewinter.com/wp/digiqoles/personal-blog/wp-content/uploads/sites/4/2020/07/banner.png 330w, https://demo.themewinter.com/wp/digiqoles/personal-blog/wp-content/uploads/sites/4/2020/07/banner-215x300.png 215w"
                                 sizes="(max-width: 330px) 100vw, 330px" />
                        </a>
                    </div>
                </div> <!-- #sidebar -->
            </div><!-- Sidebar col end -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #main-content -->

@section scripts{
    <script src="./js/postcategory.js"></script>
}