@model BoxNews.Models.TblPost


<div class="col-md-12">
    <div class="tile">

        <form asp-action="Create" enctype="multipart/form-data">

            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">
                        <p class="btn btn-add btn-sm">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            Quản lý bài viết
                        </p>
                    </div>

                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedAt" class="control-label"></label>
                    <input asp-for="CreatedAt" class="form-control" />
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="AccountId" class="control-label"></label>
                    <select asp-for="AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImgSrc" class="control-label"></label>
                 
                    <input type="file" name="file" class="form-control" />
                    
                </div>
               @*  <div class="form-group">
                    <label asp-for="PostsView" class="control-label"></label>
                    <input asp-for="PostsView" class="form-control" />
                    <span asp-validation-for="PostsView" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comments" class="control-label"></label>
                    <input asp-for="Comments" class="form-control" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index">Back to List</a>
                </div>

            </div>
        </form>
    </div>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}