@using System.Security.Claims;
@model TechSocial.Models.TblPost

@{
    var claimsIdentity = (ClaimsIdentity)User.Identity;
    var userId = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<div class="col-md-12">
    <div class="tile">

        <form asp-action="Create" enctype="multipart/form-data">

            <input asp-for="AccountId" value="@userId" hidden/>
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">
                        <p class="btn btn-add btn-sm">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            Quản lý bài viết
                        </p>
                    </div>

                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
               
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control border-0 shadow ">

                    </textarea>

                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImgSrc" class="control-label"></label>
                 
                    <input type="file" name="file" class="form-control" />
                    
                </div>
               @*  <div class="form-group">
                    <label asp-for="PostsView" class="control-label"></label>
                    <input asp-for="PostsView" class="form-control" />
                    <span asp-validation-for="PostsView" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comments" class="control-label"></label>
                    <input asp-for="Comments" class="form-control" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index">Back to List</a>
                </div>

            </div>
        </form>
    </div>
</div>





@section Scripts {

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    @* @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } *@
}