@model TechSocial.Models.TblPost

@{
    ViewData["Title"] = "Edit";
}


<div class="col-md-12">
    <div class="tile">

        <form asp-action="SaveSV" enctype="multipart/form-data">

            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">
                        <p class="btn btn-add btn-sm">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            Quản lý bài viết
                        </p>
                    </div>

                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="PostId" hidden/>
                <input asp-for="ImgSrc" hidden/>
                <input asp-for="PostsView" hidden />

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedAt" class="control-label"></label>
                    @* <input asp-for="CreatedAt" class="form-control" /> *@
                    <p>@Model.CreatedAt</p>
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
               
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea id="editor" asp-for="Content"></textarea>
                  @*   <textarea asp-for="Content" class="form-control border-0 shadow ">
                       
                    </textarea> *@
                </div>
                <div class="form-group">
                    <label asp-for="ImgSrc" class="control-label"></label>
                    <img width="100" height="160" src="@Model.ImgSrc" />
                    <input type="file" name="file" class="form-control" />
                </div>
               @*  <div class="form-group">
                    <label asp-for="PostsView" class="control-label"></label>
                    <input asp-for="PostsView" class="form-control" />
                    <span asp-validation-for="PostsView" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comments" class="control-label"></label>
                    <input asp-for="Comments" class="form-control" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index">Back to List</a>
                </div>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    <script>

        CKEDITOR.replace('editor', {
            on: {
                instanceReady: function (ev) {
                    // Lưu trữ dữ liệu ban đầu khi CKEditor đã sẵn sàng
                    initialData = ev.editor.getData();
                }
            }
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
