
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="tile">
        <div class="tile-body">
            <div class="row element-button">
                <div class="col-sm-2">
                    <a class="btn btn-add btn-sm" href="form-add-san-pham.html" title="Thêm">
                        <i class="fas fa-plus"></i>
                        Tạo mới tin tức
                    </a>
                </div>
            </div>
            <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                    <tr>
                        <th width="10"><input type="checkbox" id="all"></th>
                        <th>Mã tin tức</th>
                        <th>Tên tin tức</th>
                        <th>Ảnh</th>
                        <th>Ngày tạo</th>
                        <th>Tình trạng</th>
                        <th>Nội dung</th>
                        <th>Danh mục</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="10"><input type="checkbox" name="check1" value="1"></td>
                        <td>1</td>
                        <td>Iphone 14 ra mắt</td>
                        <td><img src=" " alt="" width="100px;"></td>
                        <td>11/07/2023</td>
                        <td><span class="badge bg-success">Online</span></td>
                        <td>Tại sự kiện Far Out diễn ra rạng sáng nay, Apple giới thiệu bốn phiên bản iPhone 14, ba mẫu đồng hồ Apple Watch, trong đó có phiên bản Watch Ultra hoàn toàn mới, và AirPods Pro thế hệ thứ hai.</td>
                        <td>Tin quốc tế</td>
                        <td>
                            <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                                    onclick="myFunction(this)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                    data-target="#ModalUP">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

