body {
    font-family: "Roboto";
    font-weight: 400;
    font-style: regular;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: px;
}

h1 {
    font-family: "Merriweather";
    font-weight: 700;
    font-style: 300;
    line-height: px;
    letter-spacing: px;
}

h3 {
    font-family: "Merriweather";
    font-weight: 700;
    font-style: 300;
    line-height: px;
    letter-spacing: px;
}

h4 {
    font-family: "Merriweather";
    font-weight: 700;
    font-style: 300;
    line-height: px;
    letter-spacing: px;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.wp-block-audio figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-audio figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-audio {
    margin: 0 0 1em
}

.wp-block-code {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Menlo, Consolas, monaco, monospace;
    padding: .8em 1em
}

.wp-block-embed figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-embed figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-embed {
    margin: 0 0 1em
}

.blocks-gallery-caption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .blocks-gallery-caption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-image figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-image figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-image {
    margin: 0 0 1em
}

.wp-block-pullquote {
    border-bottom: 4px solid;
    border-top: 4px solid;
    color: currentColor;
    margin-bottom: 1.75em
}

    .wp-block-pullquote cite,
    .wp-block-pullquote footer,
    .wp-block-pullquote__citation {
        color: currentColor;
        font-size: .8125em;
        font-style: normal;
        text-transform: uppercase
    }

.wp-block-quote {
    border-left: .25em solid;
    margin: 0 0 1.75em;
    padding-left: 1em
}

    .wp-block-quote cite,
    .wp-block-quote footer {
        color: currentColor;
        font-size: .8125em;
        font-style: normal;
        position: relative
    }

    .wp-block-quote.has-text-align-right {
        border-left: none;
        border-right: .25em solid;
        padding-left: 0;
        padding-right: 1em
    }

    .wp-block-quote.has-text-align-center {
        border: none;
        padding-left: 0
    }

    .wp-block-quote.is-large,
    .wp-block-quote.is-style-large,
    .wp-block-quote.is-style-plain {
        border: none
    }

.wp-block-search .wp-block-search__label {
    font-weight: 700
}

.wp-block-search__button {
    border: 1px solid #ccc;
    padding: .375em .625em
}

:where(.wp-block-group.has-background) {
    padding: 1.25em 2.375em
}

.wp-block-separator.has-css-opacity {
    opacity: .4
}

.wp-block-separator {
    border: none;
    border-bottom: 2px solid;
    margin-left: auto;
    margin-right: auto
}

    .wp-block-separator.has-alpha-channel-opacity {
        opacity: 1
    }

    .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
        width: 100px
    }

    .wp-block-separator.has-background:not(.is-style-dots) {
        border-bottom: none;
        height: 1px
    }

    .wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
        height: 2px
    }

.wp-block-table {
    margin: 0 0 1em
}

    .wp-block-table td,
    .wp-block-table th {
        word-break: normal
    }

    .wp-block-table figcaption {
        color: #555;
        font-size: 13px;
        text-align: center
    }

.is-dark-theme .wp-block-table figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-video figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-video figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-video {
    margin: 0 0 1em
}

.wp-block-template-part.has-background {
    margin-bottom: 0;
    margin-top: 0;
    padding: 1.25em 2.375em
}
html.fonts-loaded body {
    font-family: Roboto
}

.body-box-layout {
    background-image: url();
    ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body,
.post-navigation .post-previous a p,
.post-navigation .post-next a p,
.dark-mode .blog-single .post-meta li,
.dark-mode .wp-block-quote p,
.dark-mode .wp-block-quote::before,
.dark-mode .wp-block-quote cite,
.dark-mode .view-review-list .xs-review-date,
.dark-mode .view-review-list .xs-reviewer-author,
.dark-mode .breadcrumb li,
.dark-mode .post-meta span,
.dark-mode .post-meta span a,
.dark-mode .tranding-bg-white .tranding-bar .trending-slide-bg.trending-slide .post-title a,
.dark-mode .blog-single .post-meta li.post-author a {
    color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
.post-title,
.post-navigation span,
.post-title a,
.dark-mode .error-page .error-code,
.dark-mode.archive .entry-blog-summery .readmore-btn,
.dark-mode .entry-blog-summery.ts-post .readmore-btn,
.dark-mode .apsc-icons-wrapper.apsc-theme-2 .apsc-each-profile a,
.dark-mode .ts-author-content .comment a {
    color: #222222;
}


.dark-mode .apsc-icons-wrapper.apsc-theme-2 .apsc-each-profile a {
    color: #222222 !important;
}

.dark-mode .blog-single .post .post-body {
    background: transparent;
}

html.fonts-loaded h1,
html.fonts-loaded h2 {
    font-family: Merriweather;
}

html.fonts-loaded h3 {
    font-family: Merriweather;
}

html.fonts-loaded h4 {
    font-family: Merriweather;
}

a,
.entry-header .entry-title a:hover,
.sidebar ul li a:hover,
.breadcrumb a:hover {
    color: #8db392;
    transition: all ease 500ms;
}

.btn-primary:hover,
.switch__background,
.switch__mouth,
.switch__eye-left,
.switch__eye-right {
    background: #e74907;
    border-color: #e74907;
    ;
}

.tag-lists a:hover,
.tagcloud a:hover,
.owl-carousel .owl-dots .owl-dot.active span,
.blog-single .tag-lists a:hover {
    border-color: #8db392;
}

blockquote.wp-block-quote,
.wp-block-quote,
.wp-block-quote:not(.is-large):not(.is-style-large),
.wp-block-pullquote blockquote,
blockquote.wp-block-pullquote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
    border-left-color: #8db392;
}

.post .post-footer .readmore,
.post .post-media .video-link-btn a,
.post-list-item .recen-tab-menu.nav-tabs li a:before,
.post-list-item .recen-tab-menu.nav-tabs li a:after,
.blog-single .xs-review-box .xs-review .xs-btn:hover,
.blog-single .tag-lists span,
.tag-lists a:hover,
.tagcloud a:hover,
.heading-style3 .block-title .title-angle-shap:before,
.heading-style3 .block-title .title-angle-shap:after,
.heading-style3 .widget-title .title-angle-shap:before,
.heading-style3 .widget-title .title-angle-shap:after,
.sidebar .widget .block-title .title-angle-shap:before,
.sidebar .widget .block-title .title-angle-shap:after,
.sidebar .widget .widget-title .title-angle-shap:before,
.sidebar .widget .widget-title .title-angle-shap:after,
.pagination li.active a,
.pagination li:hover a,
.owl-carousel .owl-dots .owl-dot.active span,
.main-pagination .swiper-pagination-bullet-active,
.swiper-pagination .swiper-pagination-bullet-active,
.header .navbar-light .ekit-wid-con .digiqole-elementskit-menu .elementskit-navbar-nav > li.active > a:before,
.trending-light .tranding-bar .trending-slide .trending-title,
.post-list-item .post-thumb .tab-post-count,
.post-list-item .post-thumb .post-index,
.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product .added_to_cart,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.sponsor-web-link a:hover i,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce span.onsale,
.not-found .input-group-btn,
.btn,
.BackTo,
.sidebar .widget.widget_search .input-group-btn,
.woocommerce ul.products li.product .added_to_cart:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.footer-social li a,
.digiqole-video-post .video-item .post-video .ts-play-btn,
.blog-single .post-meta .social-share i.fa-share,
.social-share i.ts-icon-share,
.woocommerce input.button.alt:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
#preloader,
.main-slider .swiper-button-next:hover,
.main-slider .swiper-button-prev:hover,
.main-slider .owl-dots .owl-dot.swiper-pagination-bullet-active,
.main-slider .owl-dots .swiper-pagination-bullet.swiper-pagination-bullet-active,
.main-slider .swiper-pagination .owl-dot.swiper-pagination-bullet-active,
.main-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.main-slider .main-pagination .owl-dot.swiper-pagination-bullet-active,
.main-slider .main-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.weekend-top .owl-dots .owl-dot.swiper-pagination-bullet-active,
.weekend-top .owl-dots .swiper-pagination-bullet.swiper-pagination-bullet-active,
.weekend-top .swiper-pagination .owl-dot.swiper-pagination-bullet-active,
.weekend-top .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.featured-tab-item .nav-tabs .nav-link.active:before,
.post-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.blog-single .post-meta .social-share .ts-icon-share {
    background: #8db392;
}

.owl-carousel.owl-loaded .owl-nav .owl-next.disabled,
.owl-carousel.owl-loaded .owl-nav .owl-prev.disabled,
.ts-about-image-wrapper.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
    background: #8db392 !important;
}

.ts-footer .recent-posts-widget .post-content .post-title a:hover,
.post-list-item .recen-tab-menu.nav-tabs li a.active,
.ts-footer .footer-left-widget .footer-social li a:hover,
.ts-footer .footer-widget .footer-social li a:hover,
.heading-style3 .block-title,
.heading-style3 .widget-title,
.topbar.topbar-gray .tranding-bg-white .tranding-bar .trending-slide-bg .trending-title i,
.sidebar .widget .block-title,
.sidebar .widget .widget-title,
.header .navbar-light .ekit-wid-con .digiqole-elementskit-menu .elementskit-navbar-nav .dropdown-item.active,
.header .navbar-light .ekit-wid-con .digiqole-elementskit-menu .elementskit-navbar-nav li a:hover,
.social-links li a:hover,
.post-title a:hover,
.video-tab-list .post-tab-list li a.active h4.post-title,
.video-tab-list .post-tab-list li a:hover h4.post-title,
.featured-tab-item .nav-tabs .nav-link.active .tab-head > span.tab-text-title,
.woocommerce ul.products li.product .price,
.woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
.load-more-btn .digiqole-post-grid-loadmore:hover,
.blog-single .post-meta li.meta-post-view,
.ts-overlay-style .post-meta-info li.active i,
.blog-single .post-meta li a:hover {
    color: #8db392;
}

.post-layout-style5 .post-meta li.meta-post-view .ts-icon {
    color: #8db392 !important;
}


.header .navbar-light .ekit-wid-con .digiqole-elementskit-menu {
    height: 75px;
}

@media(min-width: 1024px) {

    .header-gradient-area .navbar-light .ekit-wid-con .digiqole-elementskit-menu .elementskit-navbar-nav > li > a,
    .header.header-gradient .navbar-light .ekit-wid-con .digiqole-elementskit-menu .elementskit-navbar-nav > li > a,
    .header .navbar-light .ekit-wid-con .digiqole-elementskit-menu .elementskit-navbar-nav > li > a,
    .header .navbar-light .nav-search-area a,
    .header-gradient .navbar-light .social-links li a,
    .header .navbar-light .navbar-nav > li > a,
    .header-gradient .navbar-light .nav-search-area .header-search-icon a {
        line-height: 75px;
    }
}


html.fonts-loaded .header .navbar-light .navbar-nav li ul.dropdown-menu li a,
html.fonts-loaded .header .navbar-light .ekit-wid-con .digiqole-elementskit-menu .elementskit-navbar-nav li ul li a,
html.fonts-loaded .header .navbar-light .ekit-wid-con .digiqole-elementskit-menu .elementskit-navbar-nav li .elementskit-dropdown li a {
    color:;
    font-size: 12px;
}

html.fonts-loaded .header-gradient-area .navbar-light .ekit-wid-con .digiqole-elementskit-menu .elementskit-navbar-nav > li > a,
html.fonts-loaded .header.header-gradient .navbar-light .ekit-wid-con .digiqole-elementskit-menu .elementskit-navbar-nav > li > a,
html.fonts-loaded .header .navbar-light .ekit-wid-con .digiqole-elementskit-menu .elementskit-navbar-nav > li > a,
html.fonts-loaded .header .navbar-light .nav-search-area a,
html.fonts-loaded .header-gradient .navbar-light .social-links li a,
html.fonts-loaded .header .navbar-light .navbar-nav > li > a,
html.fonts-loaded .header-gradient .navbar-light .nav-search-area .header-search-icon a {
    font-family: Roboto;
}

.ts-footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

body,
.dark-mode .ts-author-media,
.dark-mode .ts-author-content::before,
.dark-mode .ts-author-content::after,
.dark-mode .post-layout-style4 .post-single .entry-header {
    background-color: #ffffff;
}

.ts-footer {
    background-color: #222222;
    background-repeat: no-repeat;
    background-size: cover;
}

    .newsletter-form span,
    .ts-footer .widget-title span {
        background-color: #222222;
    }

    .ts-footer-classic .widget-title,
    .ts-footer-classic h3,
    .ts-footer-classic h4,
    .ts-footer .widget-title,
    .ts-footer-classic .contact h3 {
        color: #fff;
    }

    .ts-footer p,
    .ts-footer .list-arrow li a,
    .ts-footer .menu li a,
    .ts-footer .service-time li,
    .ts-footer .list-arrow li::before,
    .ts-footer .footer-info li,
    .ts-footer .footer-left-widget .footer-social li a,
    .ts-footer .footer-widget .footer-social li a,
    .ts-footer .footer-left-widget p,
    .ts-footer .footer-widget p,
    .ts-footer .recent-posts-widget .post-content .post-title a,
    .ts-footer .menu li::before {
        color: #fff;
    }



.copy-right {
    background-color: #101010;
}

    .copy-right .copyright-text p {
        color: #fff;
    }