@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HtppContextAccessor

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewData["Title"] - TechSocial</title>

	<link href="~/css/app.css" rel="stylesheet">
	<link href="~/css/hihi.css" rel="stylesheet">

	<link class="js-stylesheet" href="~/css/light.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/toastr.min.css" />

	@* font wesam *@
	<link rel="stylesheet" href="~/css/all.min.css" />


</head>

<body>
	<div class="wrapper">

		@*sidebar*@
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/Customer/Home">
					<span class="align-middle">TechSocial Manager</span>
				</a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Quản trị viên
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" asp-area="Admin" asp-controller="TblCategories" asp-action="Index">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Quản lý Danh Mục</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Admin" asp-controller="TblPosts" asp-action="Index">
							<i class="far fa-list-alt"></i> <span class="align-middle">Quản lý Bài Viết</span>
						</a>
					</li>

				</ul>
			</div>
		</nav>

		<div class="main">

			@*header*@
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">

						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
							</a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
								<img src="https://www.topcv.vn/images/avatar-default.jpg" onerror="this.src='https://www.topcv.vn/images/avatar-default.jpg'" alt="Avatar" class="avatar img-fluid rounded me-1" />
								@* <span class="text-dark">@Account?.AccountName</span> *@
							</a>
							<div class="dropdown-menu dropdown-menu-end">

								@* 	<a class="dropdown-item" asp-area="Identity" asp-page="/User/Index" asp-route-Id="@Model.TblPost.IdentityUser.Id"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
								*@

								<a class="dropdown-item" asp-area="User" asp-action="Index" asp-controller="Home"><i class="fal fa-home"></i> Trang Chủ</a>

								<div class="dropdown-divider"></div>

								<a class="dropdown-item" href="javascript:void(0)" id="logout" onclick="document.getElementById('logoutForm').submit()"><i class="fal fa-sign-out-alt"></i> Đăng xuất</a>
								<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
								</form>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content">
				<partial name="_Notification" />

				@RenderBody()
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-12 text-center">
							<p class="mb-0">
								<a class="text-muted" href="#" target="_blank"><strong>© 2023-2023 E-Shop.</strong>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/AdminAssets/js/js_new/app.js"></script>

	@* <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script> *@

	<script src="https://cdn.tiny.cloud/1/go2gbbh0374j92i5q8hajkjsq1odkk8u6lvre7w2yoeislth/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="~//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	@* <script src="~/AdminAssets/js/js_new/datatables.js"></script> *@

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>