@model List<TblPost>

<section id="main-content" class="blog main-container" role="main">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-8 sidebar-right">

                <div class="category-main-desc">
                    <span> </span>
                </div>

                <div class="main-content-inner category-layout7">

                    <div class="row" id="productContainer">
                        @foreach( var item in Model)
                        {
                            <article id="post-223"
                                     class="post-layout col-md-6 post-223 post type-post status-publish format-standard has-post-thumbnail hentry category-technology">
                                <div class="post-block-style small-post text-center">
                                    <div class="post-thumb">
                                        <a href="/Home/Details/${product.id}">
                                            <img class="img-fluid"
                                                 src="@item.ImgSrc"
                                                 alt=" Everything Announced at Google Summit">
                                        </a>
                                    </div>
                                    <div class="grid-cat">
                                        <a class="post-cat" href="/Home/Details/${@item.PostId}">
                                            <span class="before"
                                                  style="color:#ffffff "></span> ${product.categoryName}<span class="after" style="color:#ffffff"></span>
                                        </a>
                                    </div>
                                    <div class="post-content text-center">
                                        <div class="entry-blog-header">
                                            <h3 class="post-title md">
                                                <a href="/Home/Details/${@item.PostId}">
                                                    @item.Title
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="post-meta">
                                            <div class="post-meta">
                                                <span class="post-meta-date">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                   @item.CreatedAt
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </article>
                        }
                
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

