<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechSocial</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel='stylesheet' id='bootstrap-css' href='~/lib/css/bootstrap.min784e.css?ver=2.1.6' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css' href='~/lib/css/frontend.min0fa4.css?ver=3.13.3' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-8-css' href='~/lib/css/post-83ba1.css?ver=1685264368' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-155-css' href='~/lib/css/post-1553ba1.css?ver=1685264368' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='~/lib/css/style.min3781.css?ver=6.2.2' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-6-css' href='~/lib/css/post-69262.css?ver=1685264423' type='text/css' media='all' />
    @*<link rel='stylesheet' href='~/lib/fontawesome/css/fontawesome.css' asp-append-version="true"/>*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel='stylesheet' id='digiqole-master-css' href='~/lib/css/master784e.css?ver=2.1.6' type='text/css' media='all' />
    <link rel='stylesheet' id='ekit-widget-styles-css' href='~/lib/css/widget-styles292d.css?ver=2.8.8' type='text/css' media='all' />
    <link rel='stylesheet' id='ekit-widget-styles-css' href='~/lib/css/widget-styles292d.css?ver=2.8.8' type='text/css' media='all' />
    <link rel='stylesheet' id='ekit-widget-styles-css' href='~/lib/css/swiper.min48f5?ver=1' type='text/css' media='all' />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/js/swiper.min48f5.js"></script>


    <script type='text/javascript' id='csf-google-web-fonts-js-extra'>
        /* <![CDATA[ */
        var WebFontConfig = { "google": { "families": ["Roboto:400regular,700", "Merriweather:700300"] } };
            /* ]]> */
    </script>
    <script type='text/javascript' src='~/lib/js/webfont.js' id='csf-google-web-fonts-js'></script>
</head>
<body>
    <header>
        <div class="ekit-template-content-markup ekit-template-content-header ekit-template-content-theme-support">
            <div data-elementor-type="wp-post" data-elementor-id="8" class="elementor elementor-8">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-a0df70e elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                 data-id="a0df70e" data-element_type="section"
                                 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-65fabaa"
                                         data-id="65fabaa" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-31dbede elementor-widget elementor-widget-digiqole-logo"
                                                     data-id="31dbede" data-element_type="widget"
                                                     data-widget_type="digiqole-logo.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="digiqole-widget-logo">
                                                            <a href="/Home/Index" class="logo">
                                                                <img src="~/image/icon/Logo_DiuThanh_OK.png"
                                                                     alt="Personal Blog">
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7f5a6b7"
                                         data-id="7f5a6b7" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-a1716f7 elementor-widget elementor-widget-ekit-nav-menu"
                                                     data-id="a1716f7" data-element_type="widget"
                                                     data-widget_type="ekit-nav-menu.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="ekit-wid-con ekit_menu_responsive_tablet"
                                                             data-hamburger-icon="" data-hamburger-icon-type="icon"
                                                             data-responsive-breakpoint="1024">
                                                            <button class="elementskit-menu-hamburger elementskit-menu-toggler"
                                                                    type="button" aria-label="hamburger-icon">
                                                                <span class="elementskit-menu-hamburger-icon"></span><span class="elementskit-menu-hamburger-icon"></span><span class="elementskit-menu-hamburger-icon"></span>
                                                            </button>
                                                            <div id="ekit-megamenu-main-menu"
                                                                 class="elementskit-menu-container elementskit-menu-offcanvas-elements elementskit-navbar-nav-default elementskit_plus_icon ekit-nav-menu-one-page-no ekit-nav-dropdown-hover">
                                                                <ul id="menu-main-menu"
                                                                    class="elementskit-navbar-nav elementskit-menu-po-center submenu-click-on-icon">

                                                                    <li id="menu-item-595"
                                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-595 nav-item elementskit-mobile-builder-content"
                                                                        data-vertical-menu=750px>
                                                                        <a href="#"
                                                                           class="ekit-menu-nav-link">
                                                                            About Me
                                                                        </a>
                                                                    </li>
                                                                    <li id="menu-item-594"
                                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-594 nav-item elementskit-mobile-builder-content"
                                                                        data-vertical-menu=750px>
                                                                        <a href="#" class="ekit-menu-nav-link">Contact</a>
                                                                    </li>
                                                                    <li id="menu-item-594" data-vertical-menu=750px>

                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-97d936a header-search elementor-widget__width-auto elementor-widget elementor-widget-wp-widget-search"
                                                                                 data-id="97d936a" data-element_type="widget"
                                                                                 data-widget_type="wp-widget-search.default">
                                                                                 <!--search-->
                                                                              @*   <div class="elementor-widget-container">
                                                                                    <form method="get"
                                                                                          action="#"
                                                                                          class="digiqole-serach xs-search-group">
                                                                                        <div class="input-group">
                                                                                            <input type="search" class="form-control" name="s"
                                                                                                   placeholder="Search Keyword" value="">
                                                                                            <button class="input-group-btn search-button">
                                                                                                <i class="fa fa-car" aria-hidden="true"></i>
                                                                                            </button>
                                                                                        </div>
                                                                                    </form>
                                                                                </div> *@

                                                                                <div class="search-width-height d-flex">
                                                                                    <div class="dropdown flex-grow-1">
                                                                                        <input class="form-control" type="search" placeholder="Search" id="searchInput" name="search" autocomplete="off">
                                                                                        <ul class="dropdown-menu" id="searchResults" aria-labelledby="searchInput">
                                                                                            <!-- Search results will be inserted here -->
                                                                                        </ul>
                                                                                    </div>
                                                                                    <button class="input-group-btn search-button">
                                                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="elementskit-menu-overlay elementskit-menu-offcanvas-elements elementskit-menu-toggler ekit-nav-menu--overlay">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <style>
                                        .hii {
                                            flex-direction: row;
                                            gap: 2rem;
                                            justify-content: center;
                                            align-items: center;
                                            padding-bottom: 18px;
                                        }
                                    </style>
                                    <ul class="nav navbar-nav navbar-right hii">
                                        <li class="navbar-right__item">
                                            <a class="btn btn-outline-primary" id="login" asp-area="Identity" asp-page="/Account/Login">
                                                Đăng nhập
                                            </a>
                                        </li>
                                        <li class="navbar-right__item">
                                            <a class="btn btn-primary" id="register" asp-area="Identity" asp-page="/Account/Register">
                                                Đăng ký
                                            </a>
                                        </li>

                                        <li class="navbar-right__item">
                                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                                            </form>
                                        </li>

                                        <li class="navbar-right__item">
                                            <a class="btn btn-primary" id="register" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                               Admin
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
            <div data-elementor-type="wp-post" data-elementor-id="155" class="elementor elementor-155">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-2757115 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                 data-id="2757115" data-element_type="section"
                                 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-25473bd"
                                         data-id="25473bd" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-fe18aa0 elementor-widget elementor-widget-digiqole-logo"
                                                     data-id="fe18aa0" data-element_type="widget"
                                                     data-widget_type="digiqole-logo.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="digiqole-widget-logo">
                                                            <a asp-action="Index" asp-controller="Home" class="logo">
                                                                <img src="~/image/icon/Logo_DiuThanh_white_OK.png"
                                                                     alt="Personal Blog">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-1ae3264 ts-blog-footer elementor-widget elementor-widget-wp-widget-nav_menu"
                                                     data-id="1ae3264" data-element_type="widget"
                                                     data-widget_type="wp-widget-nav_menu.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="menu-footer-menu-container">
                                                        </div>
                                                    </div>
                                                </div>
                                                <section class="elementor-section elementor-inner-section elementor-element elementor-element-0573e7c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                         data-id="0573e7c" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-row">
                                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a7b8c25"
                                                                 data-id="a7b8c25" data-element_type="column">
                                                                <div class="elementor-column-wrap elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div class="elementor-element elementor-element-7b799b6 elementor-widget elementor-widget-text-editor"
                                                                             data-id="7b799b6" data-element_type="widget"
                                                                             data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                                    <p>
                                                                                        © Digiqole, 2023. All rights
                                                                                        reserved.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

   
    <script src="~/js/search.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/go2gbbh0374j92i5q8hajkjsq1odkk8u6lvre7w2yoeislth/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script type='text/javascript' id='digiqole-script-js-extra'>
        /* <![CDATA[ */
        var digiqole_ajax = { "ajax_url": "https:\/\/demo.themewinter.com\/wp\/digiqoles\/personal-blog\/wp-admin\/admin-ajax.php", "blog_sticky_sidebar": "" };
        /* ]]> */
    </script>
    <script type='text/javascript' id='digiqole-script-js-before'>
        var fontList = ["Roboto", "Merriweather", "Merriweather", "Merriweather", "Roboto"]
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
